.btnn{
  border: 1px solid black;
}
.btnn:hover{
  color: white;
  background-color: black;
}
.back{
  background-image: url(./assets/hero_2.jpg)  ;
background-size: cover;
  background-repeat: no-repeat;
height: 800px;


}
.bg{
  background-color: #6f42c1;
}
.btnnn{
  border: 1px solid white;
  color: white;
}
.btnnn:hover{
  color: black;
  background-color: white;
 
}
ul li{
  list-style: none;
}
.bgg{
 
  margin-top: 250px;
}